[submodule "apache"]
	path = apache
	url = git@github.com:Microsoft/Apache-Provider.git
	branch = master
[submodule "pal"]
	path = pal
	url = git@github.com:Microsoft/pal-pr.git
	branch = main
[submodule "omi"]
	path = omi
	url = git@github.com:Microsoft/omi-pr.git
	branch = main
